.page {
  max-width: 768px;
  height: 100vh;
  margin: auto;
  background: #f5f5f5;
}
.van-popup--bottom {
  max-width: 768px;
  right: 0;
  margin: auto;
}
.van-nav-bar {
  background-color: #24292e; /*gitHub header*/
}
.van-nav-bar__title {
  color: #fff;
}
