.page {
  max-width: 768px;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  background: #fcfcfc;
}
.van-popup--bottom {
  max-width: 768px;
  right: 0;
  margin: auto;
}
.van-nav-bar {
  background-color: #24292e; /*gitHub header*/
}
.van-nav-bar__title {
  color: #fff;
}
.personInfo {
  margin-top: 5px;
}
.personInfo .van-grid-item__content {
  padding: 0;
  height: 56px;
  font-size: 14px;
}
.personInfo .van-grid-item__content .van-tag {
  position: absolute;
  top: 5px;
  left: 0;
}
.personInfo .self .van-grid-item__content {
  background: rgb(236, 249, 255);
}
.roleList {
  margin: 0 10px;
}
.roleList .roleItem {
  margin: 0 5px;
}
